@model Customer.Models.客戶資料

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>



@Html.DisplayFor(model => model)



<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
